jg-showcase
  height: 100%
  width: 100%
  overflow: hidden
  font-family: Arial, Helvetica, sans-serif
  position: absolute
  top: 0
  left: 0
  background-image: url("//67.media.tumblr.com/baac42a10baac79b64fbb6744d8c2daf/tumblr_o8vbi5lTZA1qe0520o1_1280.png");
  .showcase-header
    padding: 5px
    height: 60px
    width: calc(100% -10px)
  .showcase-content
    padding: 7px 10px
    height: calc(100% - 84px)
    width: calc(100% - 20px)
    position: relative