jg-showcase-card
  width: 100%
  height: 100%
  position: absolute
  top: 0px
  left: 0px
  display:block
  .splash
    height: 100%
    position: absolute
    width: 100%
jg-showcase-card.active
  -webkit-transition: top 0.5s; /* Safari */
  transition: top 0.5s;
jg-showcase-card.awaiting
  top: 100%
  -webkit-transition: top 0.5s; /* Safari */
  transition: top 0.5s;
jg-showcase-card.pushed
  top: -170%