:host
  width: 100%
  height: 100%
  display:block
  position: absolute
  /deep/ .splash
    height: 100%
    position: absolute
    left: 0
    top: 0
    width: 100%
:host.active
  -webkit-transition: top 0.5s; /* Safari */
  transition: top 0.5s;
:host.awaiting
  top: 100%
  -webkit-transition: top 0.5s; /* Safari */
  transition: top 0.5s;
:host.pushed
  top: -170%